page-home {

    ion-title{
        background-color:darkcyan;
    }

    ion-content{
        background-color:cadetblue !important;
    }

    button{
        background-color:darkcyan !important; 
        color:black !important;
    }
}
